::placeholder {
    color: #5f5c5c;    
}

#clock {
    font-size: 75px;
    width: 100%; 
    margin-top: 360px;
    display: flex; 
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/*    display: -webkit-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center; 
    */
}

#greeting {
    font-size: 40px;
    margin-top: -65px;
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#quote {
    margin-top: -15px;
    display: flex; 
    justify-content: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#todo-form {
    margin-top: 10px;
    display: flex; 
    justify-content: center;
}

#todo-form input {
    width: 190px;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 255, 255, 0.5 );
    color: black;
    border-radius: 5px;
}

#todo-form input:focus{
    outline: none;
}

#todo {
    position:absolute;
    width:auto;
    margin-right: 15px;
    display: flex;  
    margin: auto;
    position: absolute;
}

#todo-list {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    position: relative;
}

#todo-list li {
    list-style: none;
    overflow: hidden;
	line-height: 30px;
    margin: 10 10px;
}

#todo-list li span {
    float: left;
    font-family: Georgia, "맑은 고딕", serif;
}

#todo-list li button {
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    margin-right: auto;
    background-color:transparent;
    border: none;
    color: red;
    font-weight: bold;
}

.hidden {
    display: none;
}